/* ul { */
  /* list-style-type: none; */
  /* text-align: left; */
/* } */

.image img {
    float: left;
    position: relative;
    top: 30px;
    left: 10px;
    width: 420px;
    height: 280px;
    padding: 10px;
}	

h1 {
    font-size: 20px;
    position: relative;
    left: 50px;
    top: 40px; 
    font-family: "Helvetica", Courier, sans-serif;
}

h2 {
    position: relative;
    font-size: 15px;
    left: 50px; 
    top: 40px; 
    font-family: "Helvetica", Courier, sans-serif;
}

.content {
    position: relative;
    clear: left;
    left: 20px;
    top: 50px;
    font-size: 15px;
}

body {
    overflow-x: hidden;
    position: relative;
    left: 40px;
    background-color: #ffffff;
    font-family: "Helvetica", Courier, sans-serif;
}


li{
        margin: 10px 0;
}
