/* ul { */
  /* list-style-type: none; */
  /* text-align: left; */
/* } */

h1 {
    font-size: 20px;
    position: relative;
    left: 50px;
    top: 30px; 
    font-family: "Courier", Helvetica, sans-serif;
}

h2 {
    position: relative;
    font-size: 15px;
    left: 50px; 
    top: 30px; 
    font-family: "Courier", Helvetica, sans-serif;
}

h3 {
    position: relative;
    font-size: 15px;
    font-weight: normal;
    overflow: auto;
    left: 50px; 
    top: 55px; 
    font-family: "Courier", Helvetica, sans-serif;
    right: 100px;
}
.content {
    text-align: left;
    position: relative;
    left: -300px;
    top: 50px;
    /* right: 350px; */
    overflow: auto;
    font-size: 15px;
}

body {
    /* background-color: #e0e0d1; */
    background-color: #ffffff;
    font-family: "Courier", Helvetica, sans-serif;
}

.image img {
    float: left;
    position: relative;
    top: 0px;
    left: 10px;
    border-radius: 40%;
    width: 270px;
    height: 270px;
    overflow: hidden;
    padding: 10px;
}	

