<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/img/me.ico?"/>

        <div class="image">
            <img src="{{ site.baseurl }}/img/me.jpg" />
        </div>
        <h1> Ashwin Kalyan </h1>
        <h2> PhD student at Georgia Tech </h2>
        <h2> <a href="mailto: asaavashwin@gmail.com">gmail</a> 
        <!-- | <a href="https://drive.google.com/file/d/1eM5fhGTYbqUQn5HTSQI5DHwqsYRub6Rm/view?usp=sharing">CV</a>  -->
        | <a href="https://scholar.google.com/citations?user=KYHL9aIAAAAJ&hl=en">scholar</a>
        | <a href="https://drive.google.com/file/d/1ahnpAbRWPydp-Jsplx5BNa6eHyZKC04b/view?usp=sharing">CV</a>
        | <a href="https://github.com/ashwinkalyan">GitHub</a>
        <br> </h2>
        </head>

        <body>
        <div class="content">

        {{ content }}

        </div>
        </body>

</html>
