<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
        <link rel="shortcut icon" type="image/x-icon" href="./img/me.ico?"/>

        <div class="image">
          <img src="./img/me.jpg" />
        </div>

        <h1> Ashwin Kalyan </h1>
        <h2> ashwinkv@gatech.edu <br> Ph.D student at Georgia Tech </h2>

        <h3>
          I am a PhD student at Georgia Tech advised by <a href="https://filebox.ece.vt.edu/~dbatra/">Dhruv Batra</a>. <br> <br>
          I am a violinist learning Karnatic Classical Music from <a href="http://akanyakumari.com">Vid. A Kanyakumari</a>.  <br> 
          Sounds from concerts are on my <a href="https://soundcloud.com/ashwin-kalyan">soundcloud</a> channel. <br> <br> 
          I spent a wonderful summer (2017) at MSR India working on <br> deep learning and program synthesis with <a href="https://prateekjain.og">Prateek Jain</a>.
        </h3> 

        </head>

        <body>
        <div class="content">

        {{ content }}

        </body>
        </div>

</html>
